<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消息加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启 mybatis 二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.company.pojo"/>
    </typeAliases>
    <!-- 配置开启PageHelper插件  -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor" />
    </plugins>
    <environments default="development">
        <environment id="development">
            <!-- 配置事务: JDBC 方式 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源(druid 连接池) -->
            <dataSource type="com.company.config.DruidDataSourceFactory">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://10.10.4.171:3306/mybatis?characterEncoding=UTF-8"/>
                <property name="username" value="seemmo"/>
                <property name="password" value="seemmo"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mapper/Category.xml"/>-->
        <mapper resource="com/company/pojo/Category.xml"/>
        <mapper resource="com/company/pojo/Product.xml"/>
        <mapper resource="com/company/pojo/Order.xml"/>
        <mapper resource="com/company/pojo/OrderItem.xml"/>
    </mappers>
</configuration>