<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.user.mapper.UserMapper">
    <insert id="save"
            parameterType="com.company.user.dto.UserAddDto">
        INSERT INTO t_user(username, password) VALUES(#{username}, #{password})
    </insert>

    <select id="findById" parameterType="int" resultType="com.company.user.model.User">
        SELECT name FROM user_ WHERE id = #{id}
    </select>
</mapper>
